/* CSS Reset */
body {
  font-family: "Baloo Bhaijaan 2", cursive;
  color: white;
  margin: 0px;
  padding: 0px;
  background: url("/img/bg.jpg");
  background-size: 2350px;
  background-repeat: no-repeat;
  background-position: 0% top;
}

.left {
  display: inline-block;
  position: absolute;
  left: 30px;
  top: 0px;
  /* border: 2px solid red; */
}

.left img {
  width: 180px;
  filter: invert(100%);
}

.left div {
  text-align: center;
  font-size: 22px;
  line-height: 5px;
}

.mid {
  display: block;
  width: 50%;
  margin: 20px auto;
  /* border: 2px solid yellow; */
}

.right {
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 15px;
  /* border: 2px solid violet; */
}

.navbar {
  display: inline-block;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}

.btn {
  font-family: "Baloo Bhaijaan 2", cursive;
  margin: 0px 9px;
  font-size: 16px;
  color: white;
  background-color: black;
  padding: 3px 10px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(66, 63, 63);
}


.container {
    border: 2px solid white;
    margin: 80px 70px 0px;
    padding: 30px 30px 30px;
    width: 30%;
    border-radius: 25px;
}

.container h1 {
    text-align: center;
    font-size: 27px;
}

.container button {
    display: block;
    width: 82%;
    border-radius: 7px;
    margin: 15px auto 0px;
}

.form-group input {
    border: 2px solid black;
    border-radius: 7px;
    display: block;
    width: 80%;
    font-family: "Baloo Bhaijaan 2", cursive;
    font-size: 20px;
    margin: 7px auto;
    text-align: center;
}

