/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 15px;
}

#logo img{
    height: 70px;
    margin: 2px 5px;
    border-radius: 50%;
}

/* Navigation Bar: List Styling */
#navbar {
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar::before{
    color: white;
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}