.container {
    display: flex;
}

.card {
    padding: 23px 12px;
    /* border: 2px solid red; */
    margin: 23px 12px;
    background-color: burlywood;

    /* box-shadow: offset-x offset-y color; */
    /* box-shadow: offset-x offset-y blur-radius color; */
    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
    box-shadow: 10px 13px green;
    box-shadow: -10px -13px green;
    box-shadow: 7px 5px 10px green;
    box-shadow: -7px -5px 10px 20px green;
    box-shadow: inset 5px 3px red;
    box-shadow: 3px 5px green, 4px 6px red;
}

.card h2 {
    text-shadow: 3px 4px yellow;
    text-shadow: 3px 4px 2px yellow;
    text-shadow: -3px -4px 2px yellow;
}

